body {
    display: flex;
    justify-content: center;
    background-color:black;
    font-family: arial;
    color: white;
}

h1 {
    font-size: 20px;
    color: gray;
    font-family: verdana, arial;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
}

.subdiv {
    padding-left: 50px;
}


